*.o
*.a
*.d
*.cmd
*.log
*.pyc
*.swp
*.swo
*~
build
cscope.*
.dir
outdir
outdir-*
scripts/basic/fixdep
scripts/gen_idt/gen_idt
scripts/kconfig/conf
scripts/kconfig/mconf
scripts/kconfig/zconf.hash.c
scripts/kconfig/zconf.lex.c
scripts/kconfig/zconf.tab.c
doc/_build
doc/doxygen
doc/xml
doc/html
doc/boards
doc/samples
doc/latex
doc/themes/zephyr-docs-theme
sanity-out/
scripts/grub
doc/reference/kconfig/CONFIG_*
doc/reference/kconfig/index.rst
doc/doc.warnings
tags
.project
.cproject
.xxproject
.envrc
# vscode配置目录
.vscode/

# ssl debug
certs
bin
log
mbedtls-mbedtls-2.12.0
output


.idea/
*.iml
16_dtls/dtls-psk-echo-client/target/
16_dtls/dtls-psk-echo-server/target/
